<div class="container">
  <div>{{member.name}}</div>


  <form action="/action_page.php">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone"><br><br>
    <label for="points">Points:</label>
    <input type="text" id="points" name="points"><br><br>
    <label for="department">Dept:</label>
    <input type="text" id="department" name="department"><br><br>
    <input type="submit" value="Submit">
  </form>

  
    <a class="navbar-brand" href="/">Back</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

